/* Header Styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #6EB6B9;
    color: white;
}

header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header .header-back-button {
    width: 300px;
    margin-right: auto;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header a {
    color: white;
}

header a.back-button {
    color: white; /* Adjust color if needed */
    text-decoration: none; /* Remove underline */
    padding: 0.5em 1em; /* Adjust padding if needed */
    font-size: 1em; /* Adjust font size if needed */
    background-color: #4a8c88; /* Add a background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    margin-left: 1em; /* Add margin to position the button */
  }

  header .header-back-button {
    width: 300px;
    margin-right: auto;
}

.empty-box {
    width: 150px;
    margin-left: auto;
}

main {
    padding: 2em;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

footer {
    text-align: center;
    padding: 1em;
    background: #6EB6B9;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
