/* Header Styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #6EB6B9;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header a {
    color: white;
}

main {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background: #6EB6B9;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
