/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #6EB6B9;
    color: white;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header .header-content {
    text-align: center;
    flex-grow: 1;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #4a8c88;
}

/* Main Content Styling */
main {
    flex-grow: 1; /* Ensures the main content fills remaining space */
    padding: 2em;
}

/* Footer Styling */
footer {
    background: #6EB6B9;
    color: white;
    text-align: center;
    padding: 1em;
}
